.type {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
}

#range {
  position: absolute;
  left: calc(50% - 25px);
  width: 50px;
  height: 150px;
  background-color: pink;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffe5b9;
  color: #333;
}

h1 {
  color: #ff9933;
}

h2 {
  color: #f28c8caf;
}

p {
  color: #666;
}

.editor-type-button {
  background: transparent;
  padding: 0;
  border: none;
  color: black;
  margin: 0;
}

.editor-type-button:hover,
.editor-type-button:focus {
  padding: 0;
  color: orange;
}

.full_page {
  width: 100vw;
  height: 40vh;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff9933;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e67300;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.game-instructions {
  margin-bottom: 20px;
}

.start-link {
  margin-bottom: 20px;
}

.game-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9933;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #e67300;
}

.restart-link {
  margin-bottom: 50px;
}

.restart-link:hover {
  border-color: pink;
}

.home-container {
  text-align: center;
  padding: 50px;
}

.home-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.home-game-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  background-color: #ff9933;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #e67300;
}

.overview-description {
  border: 2px solid black;
  padding: 10px;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.error {
  color: red;
}

.about-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  width: 25%;
  margin-bottom: 20px;
}

.multiplayer-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.multiplayer-container h1 {
  text-align: center;
}

.create-room-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-room-input,
.create-room-select {
  margin-bottom: 10px;
  padding: 8px;
}

.create-room-button {
  padding: 10px 20px;
  background-color: #f28c8caf;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

.room-info {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.action-button {
  padding: 8px 16px;
  background-color: #f28c8caf;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.action-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.profile-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.favorite-level {
  margin-bottom: 10px;
}

.following-item {
  margin-bottom: 10px;
}

.loading {
  text-align: center;
}

.levels-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.levels-header {
  margin-bottom: 20px;
}

.sort-dropdown {
  margin-bottom: 20px;
}

.levels-list {
  text-align: center;
}

.level-card {
  max-width: 300px;
  border: 1px solid #ff9933;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.level-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.creator-info {
  margin-bottom: 10px;
}

.creator-name {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.follow-button {
  background-color: #3cb371;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.unfollow-button {
  background-color: #ff6347;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.favorite-button {
  background-color: #6495ed;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.unfavorite-button {
  background-color: #ff8c00;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.play-button {
  background-color: #ff69b4;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.follow-button:hover {
  background-color: #388e68;
}

.unfollow-button:hover {
  background-color: #cc4b30;
}

.favorite-button:hover {
  background-color: #4b77b7;
}

.unfavorite-button:hover {
  background-color: #cc7500;
}

.play-button:hover {
  background-color: #cc4d90;
}

.leaderboard-link {
  margin-bottom: 20px;
}

.leaderboard-container {
  margin-top: 50px;
}

.ol {
  list-style-type: decimal;
  padding: 0;
  text-align: center;
}

.score-item {
  padding-inline-start: 10px;
  font-size: larger;
}

.creator_menu {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.creator_button {
  padding: 0.5rem;
  width: 20%;
  float: right;
  font-size: 16pt;
  margin-top: 2px;
  margin-right: 2px;
}

.custom_level {
  border: 1px solid #ff9933;
  margin: 0.5rem 0;
  border-radius: 5px;
  width: auto;
  padding: 0;
}

#fileUpload {
  display: none;
}

#fileUploadLabel {
  border: 2px dashed #f28c8caf;
  display: inline-block;
  cursor: pointer;
  font-size: 16pt;
  border-radius: 5px;
  padding: 0.5rem;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
