#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em pink);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em pink);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.type {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
}

#range {
  position: absolute;
  left: calc(50% - 25px);
  width: 50px;
  height: 150px;
  background-color: pink;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffe5b9;
  color: #333;
}

h1 {
  color: #ff9933;
}

p {
  color: #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff9933;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e67300;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.game-instructions {
  margin-bottom: 20px;
}

.start-link {
  margin-bottom: 20px;
}

.game-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}


.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9933;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.home-link:hover{
  background-color: #e67300;
}

.restart-link {
  margin-bottom: 50px;
}


.restart-link:hover {
  border-color: pink;
}


.home-container {
  text-align: center;
  padding: 50px;
}


.home-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.home-game-button{
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  background-color: #ff9933;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #e67300;
}
